<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div>
            <h4>Booking Show</h4>
            <% if flash[:notice] %>
                <h3 style="color: green">
                <%= flash[:notice] %>
                </h3>
            <% end %>
            <div>
                <div>
                    <label>Array Output design</label>
                    <p> </p>
                    <div>
                    <%= @output.inspect %>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
